
#question {
    direction: rtl;
    font-size:20px;
    line-height:23px;
}
.answer {
    cursor:pointer;
    margin-top:3px;
    display:inline-block;
}
.correctAnswer {
    background-color:rgb(124, 255, 124);
}

.wrongAnswer {
    background-color:rgb(245, 101, 101); 
}

#answers {
    direction: rtl;
    font-size:16pt;
    
}
#answersHeadline {
    margin-top:15px;
    font-size: 22px;
    font-weight: bold;
}
#questionHeadline{
    font-size: 22px;
    font-weight: bold;
}